{
  "enableBlocking": true,
  "blockingAnswerTtl": 30,
  "blockListUrlUpdateIntervalHours": 24,
  "blockListUrlUpdateIntervalMinutes": 0,
  "localEndPointGroupMap": {
    "127.0.0.1": "bypass"
  },
  "networkGroupMap": {
    "0.0.0.0/0": "standard",
    "[::]/0": "standard"
  },
  "groups": [
    {
      "name": "standard",
      "enableBlocking": true,
      "allowTxtBlockingReport": true,
      "blockAsNxDomain": true,
      "blockingAddresses": [
        "0.0.0.0",
        "::"
      ],
      "allowed": [
        "0-edge-chat.facebook.com",
        "1-edge-chat.facebook.com",
        "2-edge-chat.facebook.com",
        "3-edge-chat.facebook.com",
        "4-edge-chat.facebook.com",
        "5-edge-chat.facebook.com",
        "511tactical.com",
        "6-edge-chat.facebook.com",
        "8ch.net",
        "a.nel.cloudflare.com",
        "aa.online-metrix.net",
        "abtesting.intuit.com",
        "adaway.org",
        "adblock.mahakala.is",
        "ae01.alicdn.com",
        "affenknecht.com",
        "alb.reddit.com",
        "allmyswallows.org",
        "alluremedia.com.au",
        "alternativeto.net",
        "amazon.com",
        "android.googleapis.com",
        "angryip.org",
        "anonymous-communication.ghostery.net",
        "api-beam.flypool.org",
        "api-ravencoin.flypool.org",
        "api-zcash.flypool.org",
        "api.embed.ly",
        "api.facebook.com",
        "api.ipify.org",
        "api.segment.io",
        "api.shopstyle.com",
        "api2.branch.io",
        "app-measurement.com",
        "app.emby.media",
        "apple.com",
        "appleid.apple.com",
        "assets.adobedtm.com",
        "assets.adobetm.com",
        "auth.split.io",
        "awarenessact.com",
        "b-api.facebook.com",
        "b-graph.facebook.com",
        "babesource.com",
        "bad-dragon.com",
        "bankofamerica.tt.omtrdc.net",
        "bdsmlr.com",
        "bdsmstreak.com",
        "bdsmtest.org",
        "beacon.searchspring.io",
        "beacons.ai",
        "beacons.gvt2.com",
        "beam.flypool.org",
        "beyonduserpaid.api.intuit.com",
        "bgr.com",
        "bit.ly",
        "bitbucket.org",
        "bitly.com",
        "bitpay.com",
        "bittrex.com",
        "boardgamegeek.com",
        "bobs-tube.com",
        "bobsvagene.club",
        "bulrev.com",
        "c-api.gos-gsp.io",
        "c.amazon-adsystem.com",
        "c.apple.com",
        "capi.samsungcloud.com",
        "captive.roku.com",
        "cdn-loyalty.yotpo.com",
        "cdn.ampproject.org",
        "cdn.branch.io",
        "cdn.doublepimpssl.com",
        "cdn.embed.ly",
        "cdn.embedly.com",
        "cdn.livechatinc.com",
        "cdn.onesignal.com",
        "cdn.optimizely.com",
        "cdn.pendo.io",
        "cdn.ravenjs.com",
        "cdn.reamaze.com",
        "cdn.segment.com",
        "cdn.tsyndicate.com",
        "chan.sankakucomplex.com",
        "chastitymansion.com",
        "chaturbate.com",
        "chimpstatic.com",
        "chyoa.com",
        "clientmetrics-augmentum.kik.com",
        "clientmetrics.kik.com",
        "clients2.google.com",
        "clients3.google.com",
        "clients4.google.com",
        "clients5.google.com",
        "cloudservices.roku.com",
        "cmgstrategycollc.data.adobedc.net",
        "code.jquery.com",
        "combine.urbanairship.com",
        "completion.amazon.com",
        "connect.facebook.net",
        "crash.steampowered.com",
        "credit.finance.intuit.com",
        "cse.google.com",
        "d2gatte9o95jao.cloudfront.net",
        "daf.xp.apple.com",
        "dap.digitalgov.gov",
        "darkreader.github.io",
        "dell.com",
        "dev.appboy.com",
        "dev.virtualearth.net",
        "device-api.urbanairship.com",
        "devicebind.ebay.com",
        "digg.com",
        "display.ugc.bazaarvoice.com",
        "dl.dropbox.com",
        "donkparty.com",
        "doordash.com",
        "dpm.demdex.net",
        "drive.google.com",
        "dropbox.com",
        "e-hentai.org",
        "e.reddit.com",
        "edge-chat.facebook.com",
        "edge.adobedc.net",
        "edge.fullstory.com",
        "efukt.com",
        "email-sendgrid-deep-linking.chewy.com",
        "email.uber.com",
        "embed.pixiv.net",
        "erome.com",
        "eroshare.com",
        "es.xhamster.com",
        "escortalligator.com.listcrawler.eu",
        "ethosdistro.com",
        "etl.tindersparks.com",
        "events.backtrace.io",
        "events.reddit.com",
        "events.redditmedia.com",
        "events.split.io",
        "everydaycarry.com",
        "evtubescms.phncdn.com",
        "evtubescms.phncdn.com.ild.mcdn7.com",
        "evtubescms.phncdn.com.lds.rncdn7.com",
        "fapd.com",
        "files.greenanalyticsllc.com",
        "finance.intuit.com",
        "firebaseinstallations.googleapis.com",
        "flashservice.xvideos.com",
        "fleshlight.com",
        "fls-na.amazon.com",
        "fossbytes.com",
        "fr.pornhub.com",
        "g.live.com",
        "gak.webtoons.com",
        "gallery.mailchimp.com",
        "geico.app.link",
        "geico.tt.omtrdc.net",
        "gelbooru.com",
        "geo.yahoo.com",
        "geomobileservices-pa.googleapis.com",
        "giphy.com",
        "girlsgonegross.com",
        "gist.githubusercontent.com",
        "github.com",
        "gleam.io",
        "global.ketchcdn.com",
        "gloryholeswallow.com",
        "go.nordvpn.net",
        "goo.gl",
        "google.com",
        "gos-api.gos-gsp.io",
        "graph.facebook.com",
        "graph.instagram.com",
        "groobygirls.com",
        "heavy.com",
        "hentai2read.com",
        "hitomi.la",
        "homedepot.com",
        "hosts-file.net",
        "hostsfile.mine.nu",
        "hostsfile.org",
        "hpjav.com",
        "hypnotube.com",
        "i.ytimg.com",
        "iafd.com",
        "ichnaea.netflix.com",
        "iedc.fitbit.com",
        "ift.tt",
        "ikea.com",
        "imagefap.com",
        "imgs.xkcd.com",
        "imgur.com",
        "incoming.telemetry.mozilla.org",
        "instagram.com",
        "ip-api.com",
        "ipinfo.io",
        "ipleak.net",
        "iwantclips.com",
        "j.mp",
        "js.stripe.com",
        "js.txxx.tube",
        "judge.me",
        "juicygif.com",
        "kamitora.org",
        "keystone.mwbsys.com",
        "kotaku.com",
        "kum.com",
        "lander-cdn.ashleymadison.com",
        "laughingsquid.com",
        "liberty.logs.roku.com",
        "lifehacker.com",
        "linuxconfig.org",
        "literotica.com",
        "littlemissbrat.com",
        "logx.optimizely.com",
        "lovers-club.net",
        "lptag.liveperson.net",
        "m.imgur.com",
        "m.xhamster.com",
        "mailchimp.com",
        "malwaredomains.lehigh.edu",
        "manyvids.com",
        "maxmind.com",
        "mcnt60gdfj4r3v7wv2sggcl3zr40.device.marketingcloudapis.com",
        "media.discordapp.net",
        "media.licdn.com",
        "mentalfloss.com",
        "messaginganalytics.athena.io",
        "mgln.ai",
        "milovana.com",
        "mint",
        "mint.finance.intuit.com",
        "mirror.cedia.org.ec",
        "mirror.truenetwork.ru",
        "mirror1.malwaredomains.com",
        "mobile.logs.roku.com",
        "mobile.pipe.aria.microsoft.com",
        "moduleanalysis.aliexpress.com",
        "motherless.com",
        "mr.fullstory.com",
        "ms.applovin.com",
        "my.mixtape.moe",
        "mycuckbullstory.blogspot.com",
        "na.albtls.t.co",
        "netdna.bootstrapcdn.com",
        "netflix.com",
        "nexus.ensighten.com",
        "nhentai.net",
        "nobodyinparticularnsfw.blogspot.com",
        "nordvpn.com",
        "nsm.dell.com",
        "nymag.com",
        "nypost.com",
        "okcupid.com",
        "onesignal.com",
        "openload.co",
        "openphish.com",
        "opensubtitles.org",
        "optimate.dl.sourceforge.net",
        "optimizationguide-pa.googleapis.com",
        "orgasm-denial.net",
        "orgasmes-ruines.oluo.fr",
        "ow.ly",
        "p.rfihub.com",
        "p.typekit.net",
        "pasteboard.co",
        "pervertslut.com",
        "pgl.yoyo.org",
        "phoronix.com",
        "ping.ui.com",
        "pixel.quantserve.com",
        "pixel.redditmedia.com",
        "pixel.redgifs.com",
        "pl.xhamster.com",
        "platform.cf.kik.com",
        "platform.instagram.com",
        "platform.kik.com",
        "platform.twitter.com",
        "play-fe.googleapis.com",
        "po.st",
        "pornbimbo.com",
        "pornharmony.com",
        "pornhub.com",
        "portagloryhole.com",
        "prod-mediate-events.applovin.com",
        "prod.imgur.map.fastlylb.net",
        "prod.mobile.roku.com",
        "prod.whisper.sh",
        "psychcentral.com",
        "pulsar.ebay.com",
        "px.gfycat.com",
        "qnajplxtvz-a.akamaihd.net",
        "questionablecontent.net",
        "ransomwaretracker.abuse.ch",
        "ravencoin.flypool.org",
        "raw.github.com",
        "raw.githubusercontent.com",
        "reddestdream.github.io",
        "referrer.disqus.com",
        "remote-data.urbanairship.com",
        "reporting.cdndex.io",
        "res.cloudinary.com",
        "rover.ebay.com",
        "rt.applovin.com",
        "rule34.paheal.net",
        "rule34.xxx",
        "s.click.aliexpress.com",
        "s.shopify.com",
        "s1.symcb.com",
        "s2.symcb.com",
        "s3-1.amazonaws.com",
        "s3-media3.fl.yelpcdn.com",
        "s3.amazonaws.com",
        "s7.addthis.com",
        "sadobeanalytics.geico.com",
        "safeway.sc.omtrdc.net",
        "safewayinc-mkt-prod1.campaign.adobe.com",
        "safewayinc.tt.omtrdc.net",
        "scontent-iad3-1.cdinstagram.com",
        "scontent-iad3-1.cdninstagram.com",
        "scontent.xx.fbcdn.net",
        "screenrant.com",
        "scribe.logs.roku.com",
        "sdk.pushmessage.samsung.com",
        "sdk.split.io",
        "sdkapi.dsp-api.moloco.com",
        "secondnexus.com",
        "secure.bankofamerica.com",
        "secure.gravatar.com",
        "securemecca.com",
        "sematext.com",
        "server.iad.liveperson.net",
        "serverfault.com",
        "services.chipotle.com",
        "shemalez.com",
        "sickjunk.com",
        "siteintercept.qualtrics.com",
        "sm.dell.com",
        "smallbusiness.chron.com",
        "smetrics.ally.com",
        "smutty.com",
        "sofa.bankofamerica.com",
        "someonewhocares.org",
        "spankbang.com",
        "spclient.wg.spotify.com",
        "speedof.me",
        "squirt.org",
        "srv.main.ebayrtm.com",
        "ssl.gstatic.com",
        "ssl.p.jwpcdn.com",
        "star-mini.c10r.facebook.com",
        "star.c10r.facebook.com",
        "static.klaviyo.com",
        "static.licdn.com",
        "static.socialshopwave.com",
        "static.xvideos.com",
        "stats.grafana.org",
        "stats.osmc.tv",
        "stats.popcap.com",
        "stats.safeway.com",
        "steelwerksextreme.com",
        "stickyxxx.com",
        "store.apple.com",
        "svcs.ebay.com",
        "sxyprn.com",
        "syndication.twitter.com",
        "sysctl.org",
        "t.co",
        "t0.ssl.ak.dynamic.tiles.virtualearth.net",
        "taboo-cartoons.com",
        "tags.literotica.com",
        "tags.tiqcdn.com",
        "taylorsteases.com",
        "teaseandthankyou.com",
        "textsfromsuperheroes.com",
        "theamateurking.com",
        "thefappeningblog.com",
        "thegrittywoman.com",
        "thelordofporn.com",
        "thepiratebay.org",
        "therecipecritic.com",
        "thisvid.com",
        "thor.blindferret.media",
        "tiles.services.mozilla.com",
        "time.com",
        "tinyurl.com",
        "tis.cti.roku.com",
        "tmblr.co",
        "tms.hft.factor75.com",
        "tomshardware.com",
        "trace.svc.ui.com",
        "track-widgets.aftership.com",
        "track.aftership.com",
        "track.doordash.com",
        "track.easypost.com",
        "track.mail.studentaid.gov",
        "track.shipveho.com",
        "tracker.dominos.com",
        "tracker2.postman.i2p",
        "tracker2.postman.i2p.localdomain",
        "tracking.monoprice.com",
        "traffic.omny.fm",
        "trannyclips.com",
        "trashy.com",
        "trinity.platform.intuit.com",
        "trk.klclick.com",
        "trk.klclick1.com",
        "trk.klclick2.com",
        "trk.klclick3.com",
        "tt.visitgate.com",
        "txxx.com",
        "udm.scorecardresearch.com",
        "unmineable.com",
        "upload.facebook.com",
        "upornia.com",
        "userstylesapi.com",
        "v.firebog.net",
        "v.shopify.com",
        "verizon.demdex.net",
        "vid.me",
        "vidble.com",
        "vimeo.com",
        "vjs.zencdn.net",
        "w3-reporting.reddit.com",
        "wearebullroyalty.com",
        "whatismyipaddress.com",
        "wicked.com",
        "winhelp2002.mvps.org",
        "www.adameve.com",
        "www.adt.com",
        "www.adultfilmdatabase.com",
        "www.alohatube.com",
        "www.alrincon.com",
        "www.amazon.com",
        "www.aneros.com",
        "www.ashemaletube.com",
        "www.ashleymadison.com",
        "www.asstr.org",
        "www.aweber.com",
        "www.aznude.com",
        "www.babeland.com",
        "www.bankofamerica.com",
        "www.bit.ly",
        "www.camwhores.tv",
        "www.chastitymansion.com",
        "www.chaturbate.com",
        "www.clips4sale.com",
        "www.collegehumor.com",
        "www.cracked.com",
        "www.crazyshit.com",
        "www.creampiesonly.com",
        "www.daftporn.com",
        "www.daporn.com",
        "www.dropbox.com",
        "www.dshield.org",
        "www.efukt.com",
        "www.eporner.com",
        "www.erome.com",
        "www.eroprofile.com",
        "www.eros.com",
        "www.everydayhealth.com",
        "www.extremetube.com",
        "www.fleshlight.com",
        "www.gaytube.com",
        "www.gloryholeswallow.com",
        "www.google-analytics.com",
        "www.google.com",
        "www.groobygirls.com",
        "www.hardtied.com",
        "www.hardx.com",
        "www.heavy-r.com",
        "www.hegre.com",
        "www.hentai-foundry.com",
        "www.homemoviestube.com",
        "www.hostsfile.org",
        "www.iafd.com",
        "www.ibtimes.com",
        "www.imagefap.com",
        "www.ipinfo.io",
        "www.joewein.net",
        "www.legalporno.com",
        "www.lelo.com",
        "www.linuxnix.com",
        "www.literotica.com",
        "www.liveleak.com",
        "www.lpsg.com",
        "www.luscious.net",
        "www.malwaredomainlist.com",
        "www.manyvids.com",
        "www.maxmind.com",
        "www.megatube.xxx",
        "www.menshealth.com",
        "www.motherless.com",
        "www.narvar.com",
        "www.okcupid.com",
        "www.omegle.com",
        "www.pervertslut.com",
        "www.pinterest.com",
        "www.porn.com",
        "www.pornfidelity.com",
        "www.pornflip.com",
        "www.pornhub.com",
        "www.pornhub.net",
        "www.pornhubpremium.com",
        "www.pornlib.com",
        "www.pornmd.com",
        "www.porntube.com",
        "www.pussyspace.com",
        "www.redtube.com",
        "www.refinery29.com",
        "www.shemaletubevideos.com",
        "www.spankwire.com",
        "www.spencersonline.com",
        "www.spiceworks.com",
        "www.techrepublic.com",
        "www.techtarget.com",
        "www.tnaflix.com",
        "www.torrid.com",
        "www.tube8.com",
        "www.urbandictionary.com",
        "www.vidble.com",
        "www.viralthread.com",
        "www.weatherbug.com",
        "www.whitepages.com",
        "www.wicked.com",
        "www.xempire.com",
        "www.xhamster.com",
        "www.xnxx.com",
        "www.xtube.com",
        "www.xvideos.com",
        "www.youjizz.com",
        "www.youporn.com",
        "www.youporngay.com",
        "www.yourtango.com",
        "xconfessions.com",
        "xfantasy.tv",
        "xhamster.com",
        "xmrig.com",
        "xp.apple.com",
        "xvideos.com",
        "xxxbunker.com",
        "yespornplease.com",
        "yotpo.com",
        "youporn.com",
        "yourporn.sexy",
        "youtu.be",
        "youtube-ui.l.google.com",
        "ytimg-edge-static.l.google.com",
        "zappos.com",
        "zcash.flypool.org",
        "zeustracker.abuse.ch",
        "zndbtebcv74ofie6h-geico.siteintercept.qualtrics.com"


      ],
      "blocked": [
        "2468.go2cloud.org",
        "aax-events-cell02-cf.us-west.3px.axp.amazon-adsystem.com",
        "adclickservice.com",
        "ads.exoclick.com",
        "almoraffiliates-api.omarsys.com",
        "amoeba.web.roku.com",
        "android.googleapis.com",
        "api.iad3rs0zone2.pubnative.net",
        "app-measurement.com",
        "assets.sr.roku.com",
        "badtopwitch.work",
        "beacons.gvt2.com",
        "c-6rtwjumjzx7877x24lttlqjfix78x2elx2eitzgqjhqnhpx2esjy.g00.popsci.com",
        "c.amazon-adsystem.com",
        "cdn.adfront.org",
        "cdn.engine.spotscenered.info",
        "cdn11.pleasedontslaymy.download",
        "cf2.vuze.com",
        "clients2.google.com",
        "clientservices.googleapis.com",
        "commvod-us.kwcdn.com",
        "d1lp05q4sghme9.cloudfront.net",
        "e.axon.ai",
        "em-h.phncdn.com",
        "engine.phn.doublepimp.com",
        "eventtracking.omarsys.com",
        "evtubescms.phncdn.com",
        "fbcdn-profile-a.akamaihd.net",
        "google-ohttp-relay-safebrowsing.fastly-edge.com",
        "med.heyzap.com",
        "media.licdn.com",
        "media.trafficjunky.net",
        "mh.tlootas.org",
        "mi-us.adsurge.com",
        "ms.applovin.com",
        "notify.bugsnag.com",
        "ns.zdbb.net",
        "omaze.com",
        "play-fe.googleapis.com",
        "player.playbuzz.co",
        "pleasedontslaymy.download",
        "prod-mediate-events.applovin.com",
        "report-us.adsurge.com",
        "rt.applovin.com",
        "safebrowsing.google.com",
        "sdk-webview.mobilefuse.com",
        "spotscenered.info",
        "sunnyplayer-frontapi.cherrytech.com",
        "tag.medialytics.com",
        "tlootas.org",
        "traffic.adxprts.com",
        "vms-videos.minutemediaservices.com",
        "www.sunnyplayer.com",
        "wwwdrt.idev.fedex.com",
        "wwwimg.roku.com"

      ],
      "allowListUrls": [],
      "blockListUrls": [
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling/hosts",
        "http://sysctl.org/cameleon/hosts",
        "https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt",
        "https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt",
        "http://adblock.mahakala.is/",
        "http://securemecca.com/Downloads/hosts.txt",
        "https://raw.githubusercontent.com/BreakingTheNews/BreakingTheNews.github.io/master/hosts",
        "https://raw.githubusercontent.com/reek/anti-adblock-killer/master/anti-adblock-killer-filters.txt",
        "https://raw.githubusercontent.com/Dawsey21/Lists/master/main-blacklist.txt",
        "http://malwaredomains.lehigh.edu/files/domains.txt",
        "https://raw.github.com/notracking/hosts-blocklists/master/hostnames.txt",
        "https://raw.github.com/notracking/hosts-blocklists/master/domains.txt",
        "https://raw.githubusercontent.com/AdAway/adaway.github.io/master/hosts.txt",
        "https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt",
        "https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/hosts.txt",
        "https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/dom-bl-base.txt",
        "https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/Mandiant_APT1_Report_Appendix_D.txt",
        "http://www.hostsfile.org/Downloads/hosts.txt",
        "https://raw.githubusercontent.com/joeylane/hosts/master/hosts",
        "http://winhelp2002.mvps.org/hosts.txt",
        "https://pgl.yoyo.org/adservers/serverlist.php?hostformat=nohtml",
        "https://raw.githubusercontent.com/piwik/referrer-spam-blacklist/master/spammers.txt",
        "https://raw.githubusercontent.com/ReddestDream/reddestdream.github.io/master/Projects/MinimalHosts/etc/MinimalHostsBlocker/minimalhosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.2o7Net/hosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.Dead/hosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/KADhosts/hosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.Risk/hosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/add.Spam/hosts",
        "https://raw.githubusercontent.com/StevenBlack/hosts/master/data/UncheckyAds/hosts",
        "http://someonewhocares.org/hosts/zero/hosts",
        "https://raw.githubusercontent.com/vokins/yhosts/master/hosts",
        "https://reddestdream.github.io/Projects/MinimalHosts/etc/MinimalHostsBlocker/minimalhosts",
        "https://v.firebog.net/hosts/static/w3kbl.txt",
        "https://v.firebog.net/hosts/BillStearns.txt",
        "https://www.dshield.org/feeds/suspiciousdomains_Low.txt",
        "https://www.joewein.net/dl/bl/dom-bl-base.txt",
        "https://hostsfile.org/Downloads/hosts.txt",
        "https://adaway.org/hosts.txt",
        "https://v.firebog.net/hosts/AdguardDNS.txt",
        "https://v.firebog.net/hosts/Easylist.txt",
        "https://v.firebog.net/hosts/Airelle-trc.txt",
        "https://v.firebog.net/hosts/Easyprivacy.txt",
        "https://v.firebog.net/hosts/Prigent-Ads.txt",
        "https://v.firebog.net/hosts/static/SamsungSmart.txt",
        "https://v.firebog.net/hosts/Airelle-hrsk.txt",
        "https://v.firebog.net/hosts/Prigent-Malware.txt",
        "https://v.firebog.net/hosts/Prigent-Phishing.txt",
        "https://ransomwaretracker.abuse.ch/downloads/RW_DOMBL.txt",
        "https://v.firebog.net/hosts/Shalla-mal.txt",
        "https://openphish.com/feed.txt",
        "https://github.com/chadmayfield/pihole-blocklists/raw/master/lists/pi_blocklist_porn_all.list",
        "https://raw.githubusercontent.com/chadmayfield/pihole-blocklists/master/lists/pi_blocklist_porn_top1m.list",
        "https://dbl.oisd.nl",
        "https://v.firebog.net/hosts/Admiral.txt",
        "https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt",
        "https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts",
        "https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts",
        "https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts",
        "https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt",
        "https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt",
        "https://v.firebog.net/hosts/Prigent-Crypto.txt",
        "https://phishing.army/download/phishing_army_blocklist_extended.txt",
        "https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt",
        "https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt",
        "https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts",
        "https://urlhaus.abuse.ch/downloads/hostfile/",
        "https://zerodot1.gitlab.io/CoinBlockerLists/hosts_browser"
      ],
      "allowedRegex": [
        "(\\.|^)phcdn\\.com$",
        "(\\.|^)phncdn\\.com$"
      ],
      "blockedRegex": [
        "^ads\\.",
        "^(.+[-_.])??adse?rv(er?|ice)?s?[0-9]*[-.]",
        "^(.+[-_.])??m?ad[sxv]?[0-9]*[-_.]",
        "^(.+[-_.])??xn--",
        "^adim(age|g)s?[0-9]*[-_.]",
        "^adtrack(er|ing)?[0-9]*[-.]",
        "^advert(s|is(ing|ements?))?[0-9]*[-_.]",
        "^aff(iliat(es?|ion))?[-.]",
        "^analytics?[-.]",
        "^banners?[-.]",
        "^beacons?[0-9]*[-.]",
        "^count(ers?)?[0-9]*[-.]",
        "^pixels?[-.]",
        "^stat(s|istics)?[0-9]*[-.]",
        "^telemetry[-.]",
        "^track(ers?|ing)?[0-9]*[-.]",
        "^traff(ic)?[-.]",
        "((^)|(.))metric.",
        "((^)|(.))telemetry.",
        "((^)|(.))analytic.",
        "((^)|(.))adchoice.",
        "((^)|(.))adsdk.",
        "((^)|(.))adserv.",
        "((^)|(.))tracking.",
        "(^|\\.)ads\\.roku\\.com$",
        "(^|\\.)logs\\.roku\\.com$",
        "^rr[0-9]---sn-[a-z0-9]{8}\\.googlevideo\\.com",
        "^r[0-9]---sn-[a-z0-9]{8}\\.c\\.youtube\\.com",
        "(\\.|^)adsurge\\.com$",
        "(\\.|^)applovin\\.com$",
        "(\\.|^)bidmachine\\.io$"
      ],
      "regexAllowListUrls": [],
      "regexBlockListUrls": [],
      "adblockListUrls": []
    },
    {
      "name": "bypass",
      "enableBlocking": true,
      "allowTxtBlockingReport": true,
      "blockAsNxDomain": true,
      "blockingAddresses": [
        "0.0.0.0",
        "::"
      ],
      "allowed": [],
      "blocked": [],
      "allowListUrls": [],
      "blockListUrls": [],
      "allowedRegex": [],
      "blockedRegex": [],
      "regexAllowListUrls": [],
      "regexBlockListUrls": [],
      "adblockListUrls": []
    }
  ]
}